.projectImage {
  width: 90%;
  max-width: 26rem;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 0.6rem;
}

.projectName {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.projectDescription {
  color: #cccccc;
  margin-bottom: 0.5rem;
}

.technologies {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
}

.technology {
  display: flex;
  padding: 0.3rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 8px;
  border: 0.1rem solid #c1c1c1;
  font-size: 0.75rem;
}

.icon {
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}

.seeProject,
.seeCode {
  display: flex;
  padding: 0.75rem 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.6rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
}

.seeProject {
  background: #f5b04e;
}

.seeProject:hover {
  background: #ce9039;
}

.seeCode {
  background: #fff;
}

.seeCode:hover {
  background: #e6e6e6;
}

.buttonIcon {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .project {
    gap: 2rem;
  }

  .projectImage {
    width: 35rem;
    max-width: 35rem;
  }
}
