.navbar,
.logo,
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  box-sizing: border-box;
  height: 3.25rem;
  padding: 0 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo,
.menu {
  height: 100%;
}

.logo {
  font-size: 3.5rem;
}

.menu {
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  margin: 0 -1rem;
}

.dropdown {
  position: absolute;
  top: 3.5rem;
  right: 0;
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  background: #f7f7f7;
  box-shadow: -0.625rem 0.625rem 2.5rem 0 rgba(186, 186, 186, 0.2);
  list-style-type: none;
}

.dropdownOpen {
  display: flex;
}

.link {
  display: inline-flex;
  padding: 0.4rem 1rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.875rem;
}

.dropdown li:first-child .link {
  background: #6dd5ed;
}

.dropdown:not(.dropdownClosing):not(.dropdownOpening) {
  display: none;
}

.dropdownOpening {
  animation: dropdownOpen 0.2s ease forwards;
}

.dropdownClosing {
  animation: dropdownClose 0.2s ease forwards;
}

@keyframes dropdownOpen {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dropdownClose {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    display: none;
  }
}
