* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

svg {
  display: block;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-style: bold;
  font-weight: 700;
}
